<!--<div class="container event row">-->
<!--<div class="col-md-3"></div>-->
<!--<mat-card class="col-md-6">-->
<!---->
<!--</mat-card>-->
<!--</div>-->

<div class="row">
    <div class="col-md-3"></div>
    <mat-card class="col-md-6 card">
        <mat-card-title>Observe</mat-card-title>
        <mat-card-content class="text-center">
            <app-dynamic-form *ngIf="questions" [questions]="questions"></app-dynamic-form>
        </mat-card-content>
    </mat-card>
    <div class="col-md-3"></div>
</div>
