.card {
    max-width: 640px;
    width: auto;
    min-width: 300px;
    margin: 50px auto;
}

@media screen and (max-width: 400px) {
    .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}