<div class="row">
    <div class="col-md-3"></div>
    <mat-card class="col-md-6">
        <mat-card-content class="text-center">
            <mat-card-title>Confirm export by clicking the button below.</mat-card-title>
            <mat-card-actions>
                <button (click)="saveFile()" mat-raised-button color="primary">
                    Export
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <div class="col-md-3"></div>
</div>
