<div [formGroup]="form">

    <label [attr.for]="question.id"><h3>{{question.question}}</h3></label>

    <div [ngSwitch]="question.answerType">

        <input *ngSwitchCase="'textbox'" [formControlName]="question.id"
               [id]="question.id" [type]="question.answerType">

        <select [id]="question.id" *ngSwitchCase="'dropdown'" [formControlName]="question.id">
            <option *ngFor="let opt of question.options" [value]="opt">{{opt}}</option>
        </select>

        <select [id]="question.id" *ngSwitchCase="'user_dropdown'" [formControlName]="question.id">
            <option *ngFor="let opt of question.options" [value]="opt.value">{{opt.name}}</option>
        </select>

        <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="question.id"
                      [id]="question.id" [(ngModel)]="checked" color="primary"></mat-checkbox>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{question.question}} is required</div>
</div>
